.projects {
    margin: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    background: black;
}

.cardContainer{
    display: flex;
    margin-bottom: 20px;
}

.cardContainer  .mainImageContainer{
    padding: 30px;
}

.cardContainer  .mainImageContainer img{
    width:100%;
}

.img-framed {
    border: 5px solid #f0f0f0; /* Color del borde */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones suaves */
}

.img-framed:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más grande */
}

/**/

.project-card {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
}

.project-card:hover {
    transform: scale(1.02);
}

.project-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgb(238, 238, 135);
}

.project-description {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #d1d1d1;
}


.tecnologyLable{
    font-size: 1.3rem;
}

.tecnologyContainer {
    display: flex;
    align-items: s;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.tecnology-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tecnology-content img {
    min-width: 10px;
    width: 50px;
    height: auto;
    margin: 10px;
}

.tecnology-content label {
    font-size: 1rem;
    color: #ffffff;
}

@media (max-width: 566px) {

    .project-card{
      
        justify-content: center;
        text-align: center;
    }

    .tecnologyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tecnology-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tecnology-content img {
        margin: 0 auto;
    }

    .tecnology-content label {
        margin-left: 10px; /* Ajusta este valor según tu preferencia */
    }

}





