<!--Experience-->
<div class="experience container row">

    <div class="row">
        <div class="col-sm-12 text-center">
            <p><b>Experiencia Laboral</b></p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="timeline">
                <div class="timeline-event timeline-event-left">
                    <p class="position">Analista Programador</p>
                    <p class="company"> Comestibles Aldor</p>
                    <p class="duration">Abr 2022 - Feb 2024</p>
                </div>
                <div class="timeline-event timeline-event-right">
                    <p class="position">Analista de contenido web</p>
                    <p class="company"> Colgate Palmolive</p>
                    <p class="duration">Ene 2022 - Abr 2022</p>
                </div>
                <div class="timeline-event timeline-event-left">
                    <p class="position">Desarrollador Web</p>
                    <p class="company"> Colgate Palmolive</p>
                    <p class="duration">Jun 2021 - Dic 2021</p>
                </div>
            </div>

        </div>
        <div class="col-sm-4"></div>


    </div>



</div>

