<!--Experience-->
<div class="experience container row">

    <div class="row">
        <div class="col-sm-12 text-center">
            <p><b>Experiencia</b></p>
        </div>
    </div>

    <div class="row">
        <div id="experienceCheck" class="col-sm-12">
            <label for="flexSwitchCheckReverse">Laboral</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse"
                    (change)="changeIsEducation()">
            </div>
            <label for="flexSwitchCheckReverse">Educación</label>
            <br>
            <br>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="timeline">

                @if(isEducation()==false){

                    @for (item of experienciaLaboral(); track item.id; let i =$index) {
                    <div class="timeline-event timeline-event-left" [class.timeline-event-left]="i%2==0"
                        [class.timeline-event-right]="i%2!=0">
                        <p class="position">{{item.position}}</p>
                        <p class="company"> {{item.company}}</p>
                        <p class="duration">{{item.duration}}</p>
                    </div>
                    }


                }@else{

                    @for (item of experienciaEducacion(); track item.id; let i =$index) {
                    <div class="timeline-event timeline-event-left" [class.timeline-event-left]="i%2==0"
                        [class.timeline-event-right]="i%2!=0">
                        <p class="position">{{item.position}}</p>
                        <p class="company"> {{item.company}}</p>
                        <p class="duration">{{item.duration}}</p>
                    </div>
                    }

                }

            </div>

        </div>
        <div class="col-md-4"></div>


    </div>



</div>