<div class="principalContainer row">


    <!--header-->
    <div class="Header container row">
        <div class="row">

            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <i class="bi bi-lightbulb-fill"></i>¡Hola Soy Juan Camilo! <i class="bi bi-lightbulb-fill"></i>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <b>Desarrollador FullStack</b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="row headerBtn">
                        <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Sobre mi <i class="bi bi-person"></i></button></div>
                        <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Contactame</button></div>
                        <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Descarga CV</button></div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>

        </div>
    </div>
    
    <!--abboutMe-->
    <div class="aboutMe container row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                
                <div class="col-sm-6 containerImage">

                    <div class="framed-photo">
                        <img src="https://avatars.githubusercontent.com/u/43991800" alt="Foto">
                      </div>
        
                </div>
        
                <div class="col-sm-6 containerText">
        
                    <p>
                        Soy un desarrollador fullstack y multimedia, actualmente especializado en el desarrollo web y de software personalizado.
                    </p>
        
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <!--Experience-->
    <div class="annoutMe container row">

    </div>

    

</div>