<!--abboutMe-->
<div class="aboutMe row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">

            <div class="col-lg-6 containerImage animate__animated  animate__slideInLeft">

                <div class="framed-photo">
                    <img src="https://avatars.githubusercontent.com/u/43991800" alt="Foto">
                </div>

            </div>

            <div class="col-lg-6 containerText animate__animated  animate__slideInLeft">
                <div class="paralelepipedo">
                    <p>
                        <b>Sobre Mi</b>
                        <br>
                        Soy un desarrollador FullStack y Multimedia, actualmente especializado en el desarrollo web
                        y de software personalizado.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>