<!--abboutMe-->
<div class="aboutMe row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">

            <div class="col-lg-6 containerImage animate__animated  animate__slideInLeft">

                <div class="framed-photo">
                    <img src="https://avatars.githubusercontent.com/u/43991800" alt="Foto">
                </div>

            </div>

            <div class="col-lg-6 containerText animate__animated  animate__slideInLeft">
                <div class="paralelepipedo">
                    <p>
                        <b>Sobre Mi</b>
                        <br>
                        Soy desarrollador FullStack y multimedia. Me gusta crear soluciones que combinen funcionalidad, 
                        diseño y utilidad real para las personas; disfruto aprender, resolver problemas y dar vida a ideas
                        a través del código.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>