/*about me*/

.aboutMe {
    margin: 0;
    padding: 30px;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.containerImage {
    padding: 30px;
}


.framed-photo {
    position: relative;
    display: inline-block;
}

.framed-photo img {
    display: block;
    width: 250px;
    border-radius: 50%;
}

.framed-photo::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;

}

.containerText {
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 30px;
}

.paralelepipedo {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(208, 204, 203);
    color: black;
    padding: 30px;
    border-radius: 20px;
}

@media (min-width: 1116px) {
    .paralelepipedo {
        padding: 20px;
        padding-right: 60px;
        padding-left: 60px;
        transform: skewX(-30deg);
        border-radius: 20px;
    }

    .paralelepipedo p {
        transform: skewX(30deg);
    }
}