/*Header*/

.Header {
  margin: 0;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background: black;

}

.containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerText .containerTextRow{
  display: flex;
  justify-content: center;
}

.Header .myName i {
  color: yellow;
  text-shadow: 0 0 50px rgba(255, 255, 0, 1);
}

.Header b {
  font-size: 2rem;
}

.headerBtn {
  margin-top: 10px;
}

button {
  width: 140px;
  margin-bottom: 10px;
}

.socialRedRow{
  margin-top: 15px;
  color: white;
}

.socialRedRow a{
  color: white;
}


/****************************/

.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.containerImage img {
  width: 100%;
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.432);
  /* Optional: add a white border */
  border-radius: 2000px;
}


@media (max-width: 469px) {
  .Header .myName {
    font-size: 1rem;
  }

  .Header b {
    font-size: 2.5rem;
  }
  
}