<!--header-->
<div class="Header  row">
    <div class="row">

        <div class="row">
            <div class="col-sm-12">
                <p class="myName">
                    <i class="bi bi-lightbulb-fill"></i>¡Hola, Soy Juan Camilo! <i class="bi bi-lightbulb-fill"></i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    <b>Desarrollador FullStack Multimedia</b>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row headerBtn">
                    <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Sobre Mi <i
                                class="bi bi-person"></i></button></div>
                    <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Contáctame <i
                                class="bi bi-envelope"></i></button></div>
                    <div class="col-lg-4"><button class="btn btn-primary HeaderButton">Descarga CV <i
                                class="bi bi-caret-down-square-fill"></i></button></div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
</div>
