<!--header-->
<div class="Header  row">
    <div class="row">

        <div class="col-lg-6 containerText">

            <div class="row containerTextRow">

                

                <div class="row">
                    <div class="col-sm-12">
                        <p class="myName">
                            <i class="bi bi-lightbulb-fill"></i>¡Hola, Soy Juan Camilo!<i
                                class="bi bi-lightbulb-fill"></i>
                        </p>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <b>Desarrollador FullStack Multimedia</b>
                        </p>
                    </div>
                </div>

                <div class="row headerBtn">
                 
                    <div id="leftButton" class="col-xl-4">
                        <button (click)="scrollToSection('aboutMe')" class="btn btn-primary HeaderButton">Sobre Mi <i
                                class="bi bi-person"></i></button>
                    </div>
                    <div class="col-xl-4">
                        <button (click)="scrollToSection('contactMe')" class="btn btn-primary HeaderButton">Contáctame
                            <i class="bi bi-envelope"></i></button>
                    </div>
                    <div id="rightButton" class="col-xl-4">
                        <button (click)="downloadPDF()" class="btn btn-primary HeaderButton">Descarga CV <i
                                class="bi bi-file-earmark-arrow-down"></i></button>
                    </div>
                   
                </div>

                <div class="row socialRedRow">
                    <p class="d-flex justify-content-center gap-5">
                        <a href="https://www.linkedin.com/in/juancamilosalazarserna/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/Jcss1462" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.instagram.com/jcss1462games1/" target="_blank"><i class="bi bi-instagram"></i></a>      
                    </p>
                </div>

            </div>

        </div>

        <div class="col-lg-6 containerImage">

            <img src="assets/buzzHandVineta.jpg" alt="coverImage">

        </div>


    </div>
</div>