/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

.toast-container{
    position: fixed;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 119, 255) rgb(255, 255, 255);
  }
  